/* // X-Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {
    
}/* // Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {
    ._container {
        max-width: 800px;       
    }
    .header__container {
        max-width: 990px;
    }
    .partner_hero_image_right {
        position: absolute;
        left: 59%;
        right: 20%;
        top: 370px;
        bottom: 84.53%;
        width: 33%;
        height: 33%;
        mix-blend-mode: luminosity;
    }
    
    .partner_hero_image_left {
        position: absolute;
        width: 37%;
        height: 37%;
        left: 69px;
        top: 440px;
        mix-blend-mode: luminosity;
    }
    }


/* // Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
    ._container {
        max-width: 450px;        
    }
    .header__container {
        
        max-width: 767px;
        
    }
    .header__menu{
        /* max-width: 300px; */
        display: flex;
        justify-content: right;
    }
    
    .menu__item:not(:last-child) {
        margin-right: 13px;
    }
    
    .menu__item:nth-child(6) {
        border: 1px #2F70FE solid;
        padding: 5px 11px;
        display: flex;
        gap: 10px;
    }

    .menu__link {
        font-family: 'Circular Std';
        font-weight: 500;
        font-size: 12px;
        color: #000C2D;
    }
    
    .menu__link__get__a__demo {
        font-family: 'Circular Std';
        font-weight: 500;
        font-size: 12px;
        color: #2F70FE;
    }
    .main-block__container {
        max-width: 620px;
        /* margin: 114px auto 137px auto; */
        padding-top: 90px;
        padding-bottom: 97px;
    }
    .partner_hero_image_right {
        left: 70%;
        top: 310px;
        width: 22%;
        height: 25%;
    }
    
    .partner_hero_image_left {
        position: absolute;
        width: 30%;
        height: 37%;
        left: 40px;
        top: 310px;
    }
    .footer-table {
        max-width: 542px;
        color: #FFFFFF;
        margin: 105px auto;
        
    }
    
    th {
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
    
        letter-spacing: 0.02em;
    
        color: #FFFFFF;
        padding-bottom: 24px;
        text-align: left;
    
    }
    /* th:not(:last-child), .table-text:not(:last-child) {
        padding-right: 40px;
    } */

    .tethis__description{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    
}
/* // Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    ._container {
        max-width: 400px;
    }
    
    .header__container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        height: 50px;
        align-items: center;
        margin: 0px auto;
        padding: 0px 10px;
        box-sizing: content-box;
    }
    
    .header__logo {
        width: 25%;
        z-index: 2;
        /* height: 70%; */
    }
    .header-burger {
        display: block;
        position:relative;
        width:30px;
        height:20px;
        z-index: 2;
    }

    .header-burger span{
       position: absolute;
       background-color: #000C2D; 
       position: absolute;
       left: 0;
       width: 100%;
       height: 2px;
       top: 9px;
    }

    .header-burger:before,
    .header-burger:after{
        content: '';
        background-color: #000C2D;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header__menu{
        display: none;
    }

       
    
    .main-block__title{
        font-family: Circular Std;
        font-size: 33px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }
    
    .main-block__text{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* or 188% */
    
        text-align: center;
    
        color: #FFFFFF;
        margin-top: 7px;
    }
    .main-block__container {
        max-width: 500px;
        /* margin: 114px auto 137px auto; */
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .partner_hero_image_right {
        left: 70%;
        top: 330px;
        width: 25%;
        height: 25%;
    }
    
    .partner_hero_image_left {
        position: absolute;
        width: 35%;
        height: 37%;
        left: 40px;
        top: 330px;
    }
    
    .main-block__buttons{
        align-items: center;
        padding: 16px 25px;
        gap: 10px;
    
        width: 162px;
        height: 52px;
    
        background: #000000;
        margin: 33px auto 0px auto;
    }
    .main-block__button {
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.02em;
        
        color: #FFFFFF;
    }
    
    .footer-table {
        max-width: 500px;
        color: #FFFFFF;
        margin: 105px auto 50px auto;
        
    }

    .footer-col{
        max-width: 100px;
    }
    
   
    
}




/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    ._container {
        max-width: 250px;
    }
    .header__menu{
        display: none;
    }
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    .menu__item:not(:last-child) {
        margin-bottom: 13px;
    }
    .main-block__container {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    
    
    
    .main-block__title {
        font-size: 27px;
        line-height: 39px;
    }
    .main-block__text {
        font-size: 13px;
        line-height: 20px;
    }
    .main-block__buttons{
        margin: 17px auto 0px auto;
    }
    .partner_hero_image_right {
        left: 70%;
        top: 340px;
        width: 25%;
        height: 25%;
    }
    .partner_hero_image_left {
        position: absolute;
        width: 184px;
        height: 255px;
        left: -10px;
        top: 360px;
    }
    .tethis__title {
        margin: 30px auto;
    }
    .tethis__description {
        margin: 20px auto;
    }
    .description-item {
        margin-bottom: 10px;
    }
    .description{
        font-family: Circular Std;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: center;    
    }
    .content-table {
        margin: 20px auto;
    }
    .main-block td {
        padding: 10px;
    }
    .content-item-header {
        font-size: 20px;
        line-height: 29px;
    }
    .footer-table {
        flex-direction: column;
        max-width: 300px;
        margin: 50px auto;
    }
    .footer-col {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        align-items: center;
        margin-bottom: 20px;
    }
    .th-header {
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
    
        letter-spacing: 0.02em;
    
        color: #FFFFFF;
        margin-bottom: 24px;
        text-align: left;
    
    }
    .table-text {
        font-family: 'Circular Std Book';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
    
        letter-spacing: 0.02em;
    
        color: #FFFFFF;
        margin-bottom: 10px;
        text-align: left;
        padding-right: 0px;
    }
    
}