/* **************************************************************************** */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 996px;
    margin: 0px auto;
    
}
/* ---------------------------------HEADER------------------------------ */
.header {
    /* position: absolute; */
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    min-height: 80px;
    align-items: center;
    margin: 0px auto;
    padding: 0px 10px;
    box-sizing: content-box;
}

.header__logo {
    
}
.check-menu {
    display: none;
}
.header__menu {
    /* margin-left: 371px;   */
}

.menu{
    padding: 5px 0px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.menu__item {
     
}

.menu__item:not(:last-child) {
    margin-right: 32px;
}
.menu__item:nth-child(6) {
    border: 1px #2F70FE solid;
    padding: 12px 23px;
    display: flex;
    gap: 10px;
}



.menu__link {
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 14px;
    color: #000C2D;
}

.menu__link__get__a__demo {
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 14px;
    color: #2F70FE;
}

.menu__link:hover {
    color: #2F70FE;
}
.menu__link__get__a__demo:hover {
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 14px;
    color: #000C2D;
}

.header-burder {
    display: none;
}

/* ---------------------------MAIN------------------------- */
.page {
    
    /* background-color: #2F70FE; */
}
.main-block{
    /* margin: 1px auto; */
}


.page__main-block {

}

.main-block-header{
    background-color: #2F70FE;
}

.main-block__container{
    max-width: 620px;
    /* margin: 114px auto 137px auto; */
    padding-top: 114px;
    padding-bottom: 137px;
}    

.main-block__title{
    font-family: Circular Std;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.main-block__text{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    text-align: center;

    color: #FFFFFF;
    margin-top: 7px;
}

.main-block__buttons{
    align-items: center;
    padding: 16px 25px;
    gap: 10px;

    width: 162px;
    height: 52px;

    background: #000000;
    margin: 33px auto 0px auto;
}
.main-block__button {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
}

.partner_hero_image_right {
    position: absolute;
    left: 67%;
    right: 9%;
    top: 50%;
    bottom: 84%;

    mix-blend-mode: luminosity;
}

.partner_hero_image_left {
    position: absolute;
    width: 389.74px;
    height: 254.87px;
    left: 98px;
    top: 400px;
    mix-blend-mode: luminosity;
}

.main-block__tethis{
    max-width: 824px;
    margin: 70px auto 148px auto;
}

.tethis__title{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #000000;
    margin-bottom: 50px;

}
.tethis__description{
    display: flex;
    justify-content: space-between;
}

.description-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    max-width: 253px;
}

.description{
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: center;    
}

.content-table {
    margin: 0 auto;
}

.table-row {
    display: flex;
    justify-content: space-between;
    
}
.main-block td {
    padding: 50px;
}
.table-text-item {
    max-width: 410px;
}

._content {
    text-align: left;
    margin-bottom: 24px;
}

.content-item-header {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    /* or 132% */


    /* Black */

    color: #181818;

}

.table-img{

}

._right{

}

.item-link {
    max-width: 120px;
    display: flex;
    justify-content: space-between;
}

.item-link-link{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;

    color: #2F70FE;
}
/* ---------------------------FOOTER------------------------- */
.footer {
    background-color: #000000;
}

.footer-table {
    max-width: 950px;
    color: #FFFFFF;
    margin: 105px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col {
    display: flex;
    flex-direction: column;
    max-width: 190px;
    
}
.th-header {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-bottom: 24px;
    text-align: left;
}
th:not(:last-child), .table-text:not(:last-child) {
    /* padding-right: 90px; */
}

.table-text {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
}

.footer-aditional {
    display: flex;
    justify-content: space-around;
}





